# Entorno virtual
.venv/
venv/

# Configuración y secretos
.env
media/plantillas/plantillaCttr.docx
media/plantillas/plantillaEco.docx
# Archivos de compilación de Python
__pycache__/
*.pyc
*.pyo

# Archivos de bases de datos locales (si existieran)
db.sqlite3

# Archivos de VSCode
.vscode/
