{% extends "admin_panel/navbar_admin.html" %}
{% load static %}

{% block title %}Panel AdministradorREDIMIR{% endblock %}

{# ➊ CSS extra específico de este panel #}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/clientes.css' %}">
<script src="{% static 'js/clientes.js' %}"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
{% endblock %}

{% block main %}
<h1 class="mb-4 text-dark">Gestion Clientes</h1>

<!-- =====  tarjetas resumen  ===== -->
<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 border-end">
        <h5 class="card-title mb-3">Generar Cliente</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" required />
            </div>
            <div class="row g-3">
            <div class="col-md-6">
                <label class="form-label">Correo</label>
              <input type="email" class="form-control" name="correo" required/>
            </div>
            <div class="col-md-6">
                <label class="form-label">Telefono</label>
                <input type="number" class="form-control" name="telefono"/>
            </div>
            <div class="col-12">
              <label class="form-label">Imagen (Opcional)</label>
              <input type="file" class="form-control" name="imagen"/>
            </div>
            <div class="col-12 text-end">
              <button type="submit" name="submit_cliente" class="btn btn-success btn-opcion">Registrar Cliente</button>
            </div>
          </div>
        </form>
      </div>
      <!-- Asignar Ubicación -->
      <div class="col-md-6">
        <h5 class="card-title mb-3">Asignar Ubicación</h5>
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Cliente</label>
            <select name="idCliente" id="id_idCliente" class="form-select">
              {% for cliente in clientes_info %}
              <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Nombre de la calle</label>
            <input type="text" class="form-control" id="id_calle" name="calle" maxlength="30" required />
          </div>
          <div class="mb-3">
            <label class="form-label">Número</label>
            <input type="number" class="form-control" id="id_numero" name="numero" required />
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-success btn-opcion" name="submit_ubicacion">Asignar Ubicación</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Lista de Clientes</h5>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>telefono</th>
            <th>Ver Ubicaciones</th>
            <th>Estado</th>
            <th>Eliminar</th>
            <th>Ver Perfil</th>
          </tr>
        </thead>
        <tbody>
            {% for cl in clientes_info %}
            <tr id="fila-{{ cl.id }}">
                <td>{{ cl.nombre }}</td>
                <td>{{ cl.correo }}</td>
                <td>{{ cl.telefono }}</td>
                <td><a href="" class="btn btn-success">En desarollo</a></td>
                <td>
                  <button 
                  id="btn-estado-{{ cl.id }}" 
                  class="btn {% if cl.estado %}btn-success{% else %}btn-danger{% endif %}" 
                  onclick="cambiarEstado('{{ cl.id }}')">
                  {% if cl.estado %}Activo{% else %}Bloqueado{% endif %}
                </button>
                </td>
                <td>
                  <a href="{% url 'cliente_eliminar' cl.id %}" class="btn btn-danger" onclick="return confirm('¿Seguro que deseas eliminar este cliente?');"><i class="bi bi-trash" style="font-size: 1.1rem;"></i></a>
                </td>
                <td>
                  <button class="btn btn-success">En desarollo</button>
                </td>
              </tr>
              {% empty %}
              <tr><td colspan="7" class="text-center">Sin Clientes aun aún.</td></tr>
              {% endfor %}
            </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}