{% extends "admin_panel/navbar_admin.html" %}
{% load static %}

{% block title %}Panel AdministradorREDIMIR{% endblock %}

{# ➊ CSS extra específico de este panel #}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/registros.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
{% endblock %}

{% block main %}
<h1 class="mb-4 text-dark">Gestion Registros</h1>

<!-- =====  tarjetas resumen  ===== -->
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Generar Registro</h5>
    <div class="d-flex btn-group-row">
      <div class="col-md-4 text-center mb-3 mb-md-0">
          <img src="{% static 'img/reciclaje.png' %}" alt="Imagen" class="img-fluid rounded"/>
        </div>
        <div class="col-md-8 mt-4">
          <form method="post">
            {% csrf_token %}
            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">Operador</label>
                <select name="idOperador" class="form-select">
                    {% for operador in operadores_info %}
                    <option value="{{ operador.id }}">{{ operador.nombre }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">Cliente</label>
                <select name="idCliente" id="" class="form-select">
                    {% for cliente in clientes_info %}
                    {% if cliente.estado %}
                    <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">Ubicacion</label>
                <select name="idUbicacion" id="" class="form-select">
                    {% for ubicacion in ubicaciones_info %}
                    <option value="{{ ubicacion.id }}">{{ ubicacion.calle }} {{ ubicacion.numero }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">Fecha del Registro</label>
                <input type="date" class="form-control" name="fechaRegistro" required/>
              </div>
              <label class="form-label">Residuos</label>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="plastico"  placeholder="Plastico Kg" />
              </div>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="carton"  placeholder="Carton Kg" />
              </div>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="papel" placeholder="Papel Kg" />
              </div>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="film" placeholder="Films Kg" />
              </div>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="palets" placeholder="Palets Kg" />
              </div>
              <div class="col-md-6">
                <input type="number" class="form-control" name="palets_cantidad" placeholder="Palets Cantidad" />
              </div>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="latas" placeholder="Latas Kg" />
              </div>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="chatarra" placeholder="Chatarra Kg" />
              </div>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="vidrio" placeholder="Vidrio Kg" />
              </div>
              <div class="col-md-6">
                <input type="number" step="0.1" class="form-control" name="tetrapack" placeholder="Tetrapack Kg" />
              </div>
              {% if messages %}
              {% for msg in messages %}
              <div class="alert alert-{{ msg.tags }} text-center" role="alert">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
              <div class="col-12 text-end">
                <button type="submit" name="submit_registro" class="btn btn-success mt- btn-opcion">Registrar</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Lista de Registros</h5>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th rowspan="2">Operador</th>
            <th rowspan="2">Cliente</th>
            <th rowspan="2">Fecha del Registro</th>
            <th rowspan="2">Ubicacion</th>
            <th colspan="11" class="text-center">Residuos</th>
          </tr>
          <tr>
            <th>Plastico Kg</th>
            <th>Carton Kg</th>
            <th>Papel Kg</th>
            <th>Films Kg</th>
            <th>Latas Kg</th>
            <th>Palets Kg</th>
            <th>Palets Cantidad</th>
            <th>Chatarra Kg</th>
            <th>Vidrio Kg</th>
            <th>Tetrapack Kg</th>
            <th rowspan="2">Eliminar</th>
          </tr>
        </thead>
        <tbody>
            {% for re in registros_info %}
            <tr>
                <td>{{ re.idOperador.nombre }}</td>
                <td>{{ re.idCliente.nombre }}</td>
                <td>{{ re.fechaRegistro }}</td>
                <td>{{ re.idUbicacion.calle }} {{ re.idUbicacion.numero }}</td>
                <td>
                            {% if re.plastico is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.plastico }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.carton is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.carton }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.papel is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.papel }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.film is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.film }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.latas is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.latas }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.palets is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.palets }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.palets_cantidad is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.palets_cantidad }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.chatarra is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.chatarra }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.vidrio is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.vidrio }}
                            {% endif %}
                        </td>
                        <td>
                            {% if re.tetrapack is None %}
                                <button class="btn btn-danger btn-sm null-indicator-btn" disabled>X</button>
                            {% else %}
                                {{ re.tetrapack }}
                            {% endif %}
                        </td>
                        <td>
  <form method="post" action="{% url 'eliminar_registro' re.id %}" style="display:inline;">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger btn-sm" title="Eliminar" onclick="return confirm('¿Estás seguro de eliminar este registro?')">
      <i class="bi bi-trash"></i>
    </button>
  </form>
</td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="14" class="text-center">Sin Registros aún.</td></tr>
                    {% endfor %}
</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
